@import (reference) '~const.less';

@c: .proofCreation;

@{c} {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 8px;

    background: transparent;
    transition: background 0s linear 0.5s;

    @media @mobile {
        justify-content: center;
    }

    &-icon {
        display: none;
        flex-shrink: none;
        position: relative;
        width: 96px;
        height: 96px;
        margin-top: 31px;

        opacity: 0;
        transform: translateY(10px);
        transition: opacity 0.83s @easeOutExpo 0.45s, transform 0.83s @easeOutExpo 0.45s;

        @media @mobile {
            display: block;
        }

        img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            font-size: 0;

            animation: ProofCreation-animation 2.5s infinite linear;
        }
    }

    &-hint {
        font-size: 22px;
        font-weight: 500;
        line-height: 1.82;
        letter-spacing: -1.22px;
        color: #d3d8e4;

        opacity: 0;
        transform: translateY(10px);
        transition: opacity 0.83s @easeOutExpo 0.5s, transform 0.83s @easeOutExpo 0.5s;

        @media @mobile {
            margin-top: 12px;

            font-size: 18px;
            line-height: 1.33;
            letter-spacing: -1px;
        }
    }

    &-title {
        margin-top: -3px;

        font-size: 22px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.82;
        letter-spacing: -1.22px;
        color: @colorText;

        opacity: 0;
        transform: translateY(10px);
        transition: opacity 0.83s @easeOutExpo 0.55s, transform 0.83s @easeOutExpo 0.55s;

        @media @mobile {
            margin-top: 9px;

            font-size: 18px;
            line-height: 1.33;
            letter-spacing: -1px;
        }
    }

    &-text {
        width: 75.54%;
        margin: 6px auto 0;

        font-size: 18px;
        font-weight: normal;
        line-height: 1.34;
        letter-spacing: -0.85px;
        text-align: center;

        color: #8f98ad;

        opacity: 0;
        transform: translateY(10px);
        transition: opacity 0.83s @easeOutExpo 0.6s, transform 0.83s @easeOutExpo 0.6s;

        @media @mobile {
            margin-top: 12px;
            width: auto;
            padding: 0 20px;

            font-size: 14px;
            line-height: 1.43;
            letter-spacing: -0.7px;
        }
    }

    &-button {
        margin-top: 41px;

        opacity: 0;
        transform: translateY(10px);
        transition: opacity 0.83s @easeOutExpo 0.65s, transform 0.83s @easeOutExpo 0.65s;

        @media @mobile {
            margin-top: 37px;
            width: 100%;
            padding-left: 24px;
            padding-right: 24px;
        }
    }

    &--visible {
        background: #fff;

        @{c}-icon,
        @{c}-hint,
        @{c}-title,
        @{c}-text,
        @{c}-button {
            opacity: 1;
            transform: translateY(0);
        }
    }

    &--inputting {
        background: transparent;
        transition: background 0.83s @easeOutExpo 0.85s;

        @{c}-icon,
        @{c}-hint,
        @{c}-title,
        @{c}-text,
        @{c}-button {
            opacity: 0;
            transform: translateY(-10px);
        }
    }
}

@keyframes ProofCreation-animation {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}
