@import (reference) '~const.less';

@c: .createAndVerify;

@{c} {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px dashed @colorBlue;
  padding: @sizeMedium;
  border-radius: 4px;
  height: 320px;
  color: @colorDarkGray;

  a {
    color: @colorLinkBlue;
  }

  h3 {
    margin-top: 0;
  }

  h5 {
    margin-bottom: 0;
    margin-top: @sizeSmall;
    font-size: @fontSmall;
  }

  p {
    margin-top: 0;
    font-size: @fontExtraSmall;
  }

  .instructions {
    width: 100%;
    display: flex;
    @media @mobile {
      flex-direction: column;
    }
  }

  .instruction {
    flex: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    .icon {
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img {
      height: 80px;
    }
  }

  .notice {
    display: flex;
    font-size: @fontExtraSmall;
    margin-top: auto;
    width: 100%;
    justify-content: flex-end;
    margin-top: @sizeExtraLarge;
    .notice-text {
      width: 100%;
      flex: 1;
      text-align: center;
      position: absolute;
      left: 0;
    }
    .advanced-text {
      z-index: 1;
      a {
        color: @colorLinkBlue;
      }
    }
  }

  &-dropMessage {
    visibility: hidden;
    background: #fff;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    @{c}--dropzoneActive & {
      visibility: visible;
    }
  }

  &-analysis {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 8;

    visibility: hidden;

    @{c}--stateAnalysis & {
      visibility: visible;
    }
  }

  &-creation {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 10;

    visibility: hidden;

    @{c}--stateCreation & {
      visibility: visible;
    }
  }

  &-verifyStatus {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 10;

    visibility: hidden;

    @{c}--stateCreated & {
      visibility: visible;
    }
  }

  &-help {
    width: 100%;
    text-align: right;
  }
}

@{c} {
  @media @mobile {
    height: auto;
  }
}
