@import (reference) '~const.less';

@c: .proofText;

@{c} {
  position: relative;
  font-size: 14px;
  line-height: 1;
  font-family: @fontFamilyRegular;

  @media @mobile {
    padding-bottom: 12px;

    font-size: 12px;
    line-height: 2;

    &:after {
      display: block;
    }
  }

  &-row {
    display: flex;
    &:not(:first-of-type) {
      margin-top: @sizeSmall;
    }
    @media @mobile {
      display: block;

      & + @{c}-row {
        margin-top: 12px;
      }
    }
  }

  &-name {
    width: 90px;
    flex-shrink: 0;
    color: @grey-800;
    font-family: @fontFamilyBold;
  }

  &-value {
    word-wrap: break-word;
    flex: 1;
    width: 0;
    color: @grey-600;
    @media @mobile {
      margin-top: 4px;
      width: auto;
      flex: initial;

      line-height: 1.34;
    }
  }

  &-dropdown {
    padding-top: 12px;
    padding-bottom: 8px;
  }
  &-id {
    font-size: @fontSmall;
    font-family: @fontFamilyBold;
  }
}
