@import (reference) '~const.less';

@c: .button;

@{c} {
  background: #fff;
  color: @colorStratos;
  border: 1px solid @colorAlto;
  padding: 0;
  min-width: 120px;
  padding: @sizeExtraSmall;
  border-radius: 4px;
  font-size: @fontExtraSmall;
  font-family: @fontFamilyBold;
  box-shadow: 0 2px 4px 0 rgba(1, 7, 51, 0.1), 0 1px 2px 0 rgba(1, 7, 51, 0.1);
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &:hover:not(:disabled) {
    cursor: pointer;
  }
  &--secondary {
    background: @colorBlueRibbon;
    color: #fff;
  }
  &--flat,
  &--link {
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    min-width: auto;
  }
  &--link {
    color: @colorLinkBlue;
  }
}
