@import (reference) '~const.less';

@c: .button;

@{c} {
  background: #fff;
  color: @colorStratos;
  border: none;
  padding: 0;
  min-width: 120px;
  padding: @sizeExtraSmall;
  border-radius: 4px;
  font-size: @fontExtraSmall;
  font-family: @fontFamilyBold;
  text-transform: uppercase;
  letter-spacing: -0.13px;
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &:hover:not(:disabled) {
    cursor: pointer;
  }
  &--primary {
    border: 1px solid @colorExtraLightGray;
    background: @colorAlto;
    color: @colorDarkGray;
  }
  &--secondary {
    background: @colorBlueRibbon;
    color: #fff;
  }
  &--download {
    background: @colorEucalyptus;
    color: #fff;
  }
  &--flat,
  &--link {
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    min-width: auto;
  }
  &--link {
    color: @colorLinkBlue;
  }
}
