@import (reference) '~const.less';

@c: .verifyStatus;

@{c} {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 8px;

  overflow: hidden;
  font-family: @fontFamilyAlternate;

  &-icon {
    height: 80px;
    width: 80px;
    margin-right: 48px;
    @media @mobile {
      margin-right: 0;
      margin-bottom: @sizeSmall;
    }
  }

  &-close {
    position: absolute;
    top: @sizeSmall;
    right: @sizeSmall;
    z-index: 1;
    button {
      background: none;
      border: none;
      g {
        stroke: @green-600;
      }
    }
  }

  @{c}-details,
  @{c}-details h3 {
    color: @green-600;
  }

  @{c}-details p {
    color: @grey-600;
  }

  @{c}-details {
    font-size: @fontTiny;
  }

  @{c}-details h3 {
    font-family: @fontFamilyHeading;
    font-size: @fontSmall;
    margin-bottom: @sizeMicro;
  }

  @{c}-details a.link {
    text-decoration: underline;
    color: @blue-300;
  }

  &-details {
    font-size: @fontSmall;
  }

  &--fail {
    @{c}-icon {
      background: @red-600;
      padding: @sizeSmall;
      border-radius: 50%;
    }
    @{c}-details,
    @{c}-details h3 {
      color: @red-600;
    }
    @{c}-close {
      g {
        stroke: @red-600;
      }
    }
    @{c}-header {
      background: rgba(211, 72, 62, 0.1);
    }
  }

  &-header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px 0 40px 64px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: @teal-50;
    flex: 1;
    @media @mobile {
      flex-direction: column;
      padding: @sizeLarge;
      justify-content: center;
      text-align: center;
    }
  }

  &-footer {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 40px 0 40px 64px;
    background: #fff;

    @media @mobile {
      padding: @sizeLarge;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }

    @{c}-icon {
      width: 80px;
      height: 80px;

      svg {
        width: 100%;
        height: auto;
        padding: @sizeTiny;
      }
    }

    &@{c}-original--success {
      @{c}-icon svg {
        padding: 0;
        path {
          fill: @green-600;
        }
      }

      h4 {
        color: @green-600;
      }

      @{c}-filename {
        color: @green-600;
        margin-bottom: 4px;
      }
    }

    &@{c}-original--fail {
      @{c}-icon svg {
        background: @red-600;
        padding: @sizeSmall;
        border-radius: 50%;
      }
      h4 {
        color: @red-600;
      }
      @{c}-filename {
        color: @red-600;
        margin-bottom: 4px;
      }
    }

    @{c}-details {
      color: @grey-500;
      h4 {
        font-size: @fontSmall;
        margin-top: 0;
        margin-bottom: 9px;
        span {
          color: @grey-800;
        }
      }
      p {
        margin-bottom: 0;
      }
    }
  }

  &--visible {
    background: #fff;

    @{c}-title,
    @{c}-filename,
    @{c}-text,
    @{c}-button {
      opacity: 1;
      transform: translateY(0);
    }

    @{c}-header {
      &:after {
        transform: translateY(0);
      }
    }
  }
}
