.App {
  width: 80vw;
  margin: 0 auto;
  min-width: 600px;
}

.controls {
  display: flex;
  text-align: center;
}

  .controls form {
    flex: 1;
  }

textarea {
  width: 300px;
  height: 100px;
}

button {
  font-size: 16px;
}

.hash {
  line-height: 30px;
}
.hash:after {
  padding-left: 1em;
  font-weight: bold;
  content: 'submitting to blockchain';
}
.hash_state_submitted:after {
  content: 'waiting for proofs';
}
.hash_state_has-proofs:after {
  content: '';
}

.blockchain-label {
  margin: 0 5px;
  font-style: normal;
  border: 1px solid;
  padding: 1px 3px;
  user-select: none;
}

.hash.hash_state_btc  .blockchain-label_name_btc, .hash.hash_state_cal  .blockchain-label_name_cal {
  border-color: #58d670;
  color: #58d670;
}