.App {
  width: 80vw;
  margin: 0 auto;
  min-width: 600px;
}

.hash:after {
  padding-left: 1em;
  font-weight: bold;
  content: 'submitting to blockchain';
}
.hash_state_submitted:after {
  content: 'waiting for proofs';
}
.hash_state_has-proofs:after {
  content: 'proofs recieved';
}