@row: 16px;
@col: 64 / 1120 * 100%;
@gutter: 32 / 1120 * 100%;

@laptop: ~'(min-width: 768px) and (max-width: 1023px)';
@mobile: ~'(max-width: 767px)';

@easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
@easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1);
@easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
@easeInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);

@colorPlaceholder: #d3d8e4;
@colorText: #2c3240;
@colorTextSecondary: #a8b1c9;
@colorInvalid: #FF6663;
