@row: 16px;
@col: 64 / 1120 * 100%;
@gutter: 32 / 1120 * 100%;

@laptop: ~'(min-width: 768px) and (max-width: 1023px)';
@mobile: ~'(max-width: 767px)';

@easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
@easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1);
@easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
@easeInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);

// TODO: move all colors to colors.less
@colorPlaceholder: #d3d8e4;
@colorText: #424242;
@colorTextSecondary: #a8b1c9;
@colorInvalid: #ff6663;

@colorBlue: #3676cb;
@colorLinkBlue: #58b4f0;
@colorLightBlue: rgba(52, 152, 219, 0.05);
@colorDarkGray: #757575;
@colorDarkerGray: #424242;
@colorLightGray: #9e9e9e;
@colorLighterGray: #f5f5f5;
@colorExtraLightGray: #e0e0e0;
@colorBorder: rgba(1, 7, 51, 0.1);
// generated color names from name that color vs code extension
@colorBlueRibbon: #053ee3;
@colorStratos: #010733;
@colorAlto: #fafafa;
@colorAstral: #3176b8;
@colorFlamingo: #ec4f27;
@colorEucalyptus: #1f9952;

@fontLarge: 32px;
@fontMedium: 24px;
@fontSmall: 18px;
@fontExtraSmall: 14px;
@fontTiny: 12px;
@fontMicro: 10px;

@fontFamilyRegular: 'Inter UI', 'Helvetica', 'Arial', sans-serif;
@fontFamilyBold: 'Inter UI Bold', 'Helvetica', 'Arial', sans-serif;
@fontFamilyHeading: 'Lato', 'Helvetica', 'Arial', sans-serif;
@fontFamilyCode: 'League Mono', monospace;

@sizeExtraLarge: 42px;
@sizeLarge: 32px;
@sizeMedium: 24px;
@sizeSmall: 16px;
@sizeExtraSmall: 12px;
@sizeTiny: 10px;
@sizeMicro: 6px;

@borderRadius: 8px;
