@font-face {
  font-family: 'Gotham B';
  src: url('fonts/Gotham-Bold.woff2') format('woff2'),
    url('fonts/Gotham-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Gotham B';
  src: url('fonts/Gotham-Medium.woff2') format('woff2'),
    url('fonts/Gotham-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Gotham B';
  src: url('fonts/Gotham-Book.woff2') format('woff2'),
    url('fonts/Gotham-Book.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'RobotoMono';
  src: url('fonts/RobotoMono-Regular.woff2') format('woff2'),
    url('fonts/RobotoMono-Regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Inter UI';
  src: url('fonts/Inter-UI-Regular.woff2') format('woff2'),
    url('fonts/Inter-UI-Regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Inter UI Bold';
  src: url('fonts/Inter-UI-Bold.woff2') format('woff2'),
    url('fonts/Inter-UI-Bold.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato-Bold.ttf') format('ttf');
  font-style: normal;
  font-weight: 700;
}
