@import (reference) '~const.less';

@c: .proofApp;

@{c} {
  min-width: 750px;
  @media @mobile {
    min-width: 320px;
    max-width: 90%;
    width: 90%;
    margin-left: 5%;
  }

  &-create {
  }

  &-verify {
    margin-top: 64px;

    @media @mobile {
      margin-top: 16px;
    }
  }
}

@{c},
#proof-popup-root {
  font-family: 'Inter UI', 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-font-feature-settings: 'liga', 'kern';
  -o-font-feature-settings: 'liga', 'kern';
  font-feature-settings: 'liga', 'kern';

  & *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
}
